<?xml version="1.0" encoding="UTF-8"?>
<Server port="8005" shutdown="SHUTDOWN">
  <Listener className="org.apache.catalina.core.JreMemoryLeakPreventionListener" />
  <Listener className="org.apache.catalina.core.ThreadLocalLeakPreventionListener" />
  <Service name="Catalina">
    <Executor name="elmrThreadPool" namePrefix="elmr-exec-" maxThreads="150" minSpareThreads="4"/>
    <Connector executor="elmrThreadPool" port="8080" protocol="HTTP/1.1" connectionTimeout="20000" />
    <Connector executor="elmrThreadPool" port="8009" protocol="AJP/1.3" tomcatAuthentication="false" />
    <Engine name="Catalina" defaultHost="localhost">
      <Host name="localhost" appBase="webapps" unpackWARs="true" autoDeploy="true">
      </Host>
    </Engine>
  </Service>
</Server>
